{
  "accounts": [
    {
      "username": "<Your username 1>",
      "password": "<Your password 1>",
      "login_method": "<Your connection method>"
    },
    {
      "username": "<Your username 2>",
      "password": "<Your password 2>",
      "login_method": "<Your connection method>"
    }
  ],
  "firefox_path": ""
}
